{block content}
    {* Vue komponenta *}
    <my-component></my-component>

    {* Pozdrav *}
    <p>Hello world from Nette template!</p>

        <n-link to='Homepage:default' :params="{ id: 1, chapter: 7 }">Odkaz</n-link>
{/block}
